@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
	position: relative;
	background-color: #ebf5ee;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	color: white;
	height: 100%;
	margin: 0;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: grayscale;
	overflow-x: hidden;
}

p {
  text-align: left;
}
